body {
    background-color: burlywood;
    color: white;
    font-family: arial;
    font-size: 18pt;
    background-image: url("pictures/background.png");
    background-size: 100%;
}

body:hover {
    background-color: blue;
    color: pink;
    font-family: arial;
    font-size: 18pt;
    background-image: url("pictures/background.png");
    background-size: 100%;
}
